body {
    background-color: #2e3091;
    direction: rtl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    font-size: 16px;
    font-family: Vazir, Tahoma;
    color: #EEE;
}
.main-wrapper {
    max-width: 800px;
    margin: 0 auto;
}
.logo {
    margin-bottom: 4em;
}
a {
    color: inherit;
}
a.btn {
    color: white;
    background-color: #FFFFFF07;
    text-decoration: none;
    padding: .2em 1em;
    border: 2px solid #FFFFFF50;
    border-radius: 1em;
}
a.btn.disabled {
    opacity: .33;
}
a.btn:hover{
    background-color: #FFFFFF33;
    border: 2px solid #FFFFFFCC;
}

.social-media-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 2rem;
}

.social-media-icon {
    font-size: 1.6em;
    padding: .5rem;
}
.social-media-icon:hover {
    color: darkorange
}
